  :root {
    
      --ui-frame:   #1b2b34;
      --base0:      #161c23; 
      --base1:      #232d38; 
      --base2:      #313f4e; 
      --base3:      #415367; 
      --base4:      #536984; 
      --base5:      #627d9d; 
      --base6:      #9ea4c2; 
      --base7:      #b6b6c9; 
      --base8:      #cbc7d0; 
      --fg0:        #c6b8ad; 
      --fg1:        #e5ded6; 
      --bgred:      #d32c5d; 
      --bglred:     #dc597f; 
      --bgorange:   #dc7759; 
      --bgdyellow:  #A58023; 
      --bgyellow:   #daa112; 
      --bggreen:    #57a331; 
      --bglgreen:   #7fdc59; 
      --bgdblue:    #1e758d; 
      --bgblue:     #36b2d4; 
      --bglblue:    #59dcd8; 
      --bgpurp:     #b759dc; 
      --bgpink:     #dc59c0; 
      --bgteal:     #23a580; 
      --bglteal:    #59dcb7;
  }
